:root {
  --primary-color: #123D6E;
  --primary-text-color: #202124;
  --white: #FFFFFF;
  --ads: #FCEFCA;
  --daimond-black: #181818;
  --grey-colors: #F2F2F2;
  --red-dark: #EB5757;
  --grey: #4F4F4F;
  --input: #181818;
  --black:#000000;
  --dark:#444444;
  --ions:#5F6368;
  --marku:#333333;
  --sub:#8F8F98;
  --primary-light:#3D3A49;

}